.details h3 {
    margin-top: 30px;
    text-align: center;

}

.details p {
    text-align: center; 
}


.details h4 {
    text-align: center; 
}

.details-img {
    text-align: center; 
}

.details-btn{
    text-align: center;
}